<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/929744400056193044/968194795250020402/airplane-icon-plane-sign-vector-22346493.png">
    <title>Aeroporto Helpdesk</title>
    <base href="/">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body class="background1">
<div class="BlockWhite">
    <img src="https://cdn.discordapp.com/attachments/929744400056193044/971485948955205672/airplane-icon-plane-sign-vector-22346493.png" onclick="location.href='/'" class="btn_init2">
    <%- include('./partials/bFaq.ejs') %>
    <%- include('./partials/bTickets.ejs') %>
    <%- include('./partials/bAtendimento.ejs') %>
    <%- include('./partials/bUser.ejs') %>

    <div>
      <svg style="float: left;" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="black" class="bi bi-ticket-detailed" viewBox="0 0 16 16">
          <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H5Z"/>
          <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z"/>
      </svg>
      <h1 style="font: initial; font-size: 1.9rem; margin-top: 0px; margin-bottom: 15px;">    Tickets</h1>
    </div>

    <button type="button" onclick="location.href='/criartickets/'" class="btntopA">Criar Tickets</button>
    <div class="BlockBlue2">
      <div class="dropdown">
        <button class="dropbtn" >Filtro</button>
        <div class="dropdown-content">
          <a href="/tickets">Todos os Tickets</a>
          <a href="/tickets/<%= users._id %>">Meus Tickets</a>
          <a href="/tickets/aberto">Aberto</a>
          <a href="/tickets/fechado">Fechado</a> 
        </div>
      </div>
        <% if (tickets.length > 0) { %>
          <% tickets.forEach(ticket => { %>
            <div class="BlockWhiteGreyF">
                <p><b>Titulo:</b> <%= ticket.titulo %>
                  <span class="place"><%= ticket.estado %></span></p>
                  <p><b>Descrição:</b> <%= ticket.descricao %></p>
                  <p><b>Email:</b> <%= ticket.email %></p>
                  <p><b>Resposta:</b> <%= ticket.resposta %></p>
                  <p><b>Resolvido por:</b> <%= ticket.agente %>
                  <% if (isAuthenticated) { %>
                  <form action="/tickets/edit/<%= ticket._id%>" id="TicketEdit" method="POST">
                    <button class="btn_edit_delete" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop"><i class='fas fa-pen place size'  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Editar" ></i></button>
                      <% tickets.forEach(ticket => { %>
                      <div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
                        <div class="offcanvas-header">
                          <h5 class="offcanvas-title" id="staticBackdropLabel">Editar Ticket</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                          <form action="/tickets/edit/<%= ticket._id%>" id="TicketEdit" method="POST">
                            <input type="text" id="titulo" name="titulo" class="BlockWhiteGrey" placeholder="Titulo" value="<%= ticket.titulo %>" required>
                            <input class="BlockWhiteGrey" id="descricao" name="descricao" value="<%= ticket.descricao %>" placeholder="Descrição" required>
                            <input type="text" id="email" name="email" class="BlockWhiteGrey" value="<%= ticket.email %>" placeholder="Email (obrigatório)" required>
                            <input type="text" id="resposta" name="resposta" class="BlockWhiteGrey" value="<%= ticket.resposta %>" placeHolder="Resposta" required>
                            <span style="font-size: 1.2rem;">Estado:</span>
                            <input type="radio" id="estado" name="estado" value="Aberto"><label>    Aberto</label>
                            <input style="margin-left:1%" type="radio" id="estado" name="estado" value="Fechado"><label>    Fechado</label>
                            <p>    </p>
                            <select class="agenteSelect" id="agente" name="agente" aria-label="Default select example" required>
                              <option  value="Todos" selected>Agente</option>
                              <% users.forEach(user => { %>
                                  <option value = "<%= user.nome %>"> <%= user.nome %> </option>
                              <% }) %>
                            </select>
                            <p>  </p>
                            <p><input type="submit" id="guardar" value="Guardar" class="btn3" style="margin:3px;"></p>
                          </form>
                          <form action="/criarfaq" method="POST" id="CriarFaq">
                            <input type="hidden" id="titulo" name="pergunta" value="<%= ticket.titulo %>">
                            <input type="hidden" id="resposta" name="resposta" value="<%= ticket.resposta %>">
                            <select id="categoria" class="agenteSelect" name="categoria" aria-label="Default select example">
                              <option selected>Categoria</option>
                              <option value="Aerobus"> Aerobus </option>
                              <option value="Serviços e Compras"> Serviços e Compras </option>
                              <option value="Mobilidade Reduzida"> Mobilidade Reduzida </option>
                              <option value="Bagagem"> Bagagem </option>
                              <option value="Voos"> Voos </option>
                            </select>
                            <input type="submit" id="guardar" value="FAQ" class="btn3" style="margin:3px;">
                          </form>
                        </div>
                      </div>
                      <% }) %>
                      <form action="/tickets/delete/<%= ticket._id%>" method="post">
                        <button class="btn_edit_delete"><i class='fas fa-trash-alt place size' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Apagar" ></i></button></p>    
                      </form>
                  <% } %> 
                  </form>           
            </div>
          <% }) %>
        <% } else { %>
          <p> Não existem tickets.</p>
        <% } %>
      </div>
</div>
</body>
</html>